div{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.bottom-container{
    clear: both;
    height: auto;
    padding: 10px;
}
.left-container{
    float: left;
    height: 620px;
    width: 60%;
}
.right-container{
    float: right;
    height: 620px;
    width:  40%;
}


.left{
    float: left;
    height: 300px;
    width: 50%;
}
.right{
    clear: both;
    height: 300px;
}

/* made a special class for mobile view */

.same-width{
    height: auto;
    padding: 5px;
    text-align: left;
    width: 100%;
}

